/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.event {
	h4.title,  h4.event-title{
		font-weight: bold;
		color: #bd2919;
		margin: 15px 5px 5px;
	}

	a.button {
		background-color: #bd2919;
		border-radius: 3px;
		text-align: center;
		margin-right: 10px;
		color: #ffffff;
	}

	.eventlist .event-article{
        margin-bottom: 10px;
    }

    .event-wrapper{
        display:            flex;
    }

	.event-date{
		max-height:         40px;
	}
}