/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .arrival-dates-wrapper h4.title{
    font-weight: bold;
    color: #bd2919;
    margin: 15px 5px 5px;
}