@use '../../../css/scss/global' as *;

.limit-length{
    //min-width: 300px;
    white-space: pre-wrap;
    //word-wrap: break-word;
    max-width: 200px;
}

.autoarchivelogic{
    display: flex;
    width: 100%;

    .infobox{
        min-width: fit-content;
    }

    &>div{
        float:right;

        img{
            max-width: 30px;
        }
    }
}

.filteroptions{
    margin-bottom:10px;

    .filter-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filteroption{
        display: contents;

        label{
            margin-right: 10px;
        }

        input{
            margin-right:10px;
        }
    }
}

.form-result-navigation{
    width:100%;
    margin:10px;
    text-align:center;

    .prev{
        float:left;
    }

    .page-number-wrapper{
        line-height:25px;

        .pagenumber{
            color: $primary_color;
            cursor: pointer;
        }

        .current{
            font-weight: bold;
            cursor: unset;
            color: black;
        }
    }

    .next{
        float:right;
    }
}

.table-wrapper{
    .form.table-head{
        background-color: white;

        @media (prefers-color-scheme: dark) {
            background-color: black;
        }
    }

    th{
        position: sticky;
        top: 60px;
    }
}

.edit_forms_table{
    text-decoration: underline;
    text-decoration-color: $primary_color;
}

.visibilityicon{
    margin-right: 5px;
}

td button{
    margin-bottom: 3px;
}

input[type=number].column_settings {
    width: 70px;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
}

.copy-wrapper{
    position:relative;

    .copy{
        position:absolute; 
        right:0px;
        top: 0px;
    }
}