@use 'global' as *;

/* Tooltip text */
.info_icon{
	flex:1;
}

.infobox{
	.info_text{
		display: none;
		width: fit-content;
		background-color: $primary_color;
		color: #fff;
		padding: 5px 10px;
		border-radius: 6px;
		bottom: 100%;
		/*margin-left: -100%;	*/
		float: right;
		max-width: 90%;
		
		a{
			color:$secundary_color;
		}
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	&:hover .info_text{
		display:inline-block;
	}

	&:hover{
		display:block;
	}
}
