@use 'global' as *;
@use 'account';
@use 'fileuploads';
@use 'infoIcons';
@use 'menu';
@use 'modal';
@use 'nice-select2';
@use 'pagetitle';
@use 'sidebar';
@use 'table';

/* moretag layout */
.moretag{
	font-size: 15px;
	border-radius: 30px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 20px;
	display: block;
	max-width: 133px;
	margin: 20px auto 0 auto;
	white-space: nowrap;
	background-color: $primary_color;
	
	/* on hover of the more tag*/
	&:hover{
		background-color:$secundary_color;
		color:white;
	}
}

/* paragraph text color*/
p{
	color: #676666;
}

/* Size of the loading gif */
.loadergif{
	width:7%; 
	max-height:45px; 
	margin:20px 0px 0px 10px;
	min-width: 50px;
}

/*Buttons */
%buttons{
	background-color: $primary_color;
	border-radius: 3px;
	text-align: center;
	margin-right: 10px;
}

body div .button, 
body div .button:not(.small):focus{
	@extend %buttons;
	padding: 5px 10px;
	
	&:hover, &.active{
		background-color: $secundary_color;
	}
	
	&.tablink{
		margin-top: 15px;
		background-color: $secundary_color;
		
		&:hover,&.active{
			background-color: $primary_color;
			color: white;
			border-color: unset;
		}
	}
}

#page-edit{
	margin-top: 10px;
}

.wp-core-ui div .button{
	@extend %buttons;
	color: white;
	border-color: unset;
	
	&:hover, &:active{
		background-color: $secundary_color;
		color: white;
		border-color: unset;
	}
}

#comments{
	#submit{
		@extend %buttons;
	}
}

.leaflet-container a.button{
	color: white;
}

.button.small{
	padding: 0px 10px;
}
a.button.small{
	padding-top: 5px;
}

.submit_wrapper{
	margin: 20px 0px;
    display: flex;
}

/* Hide copywright text*/
.copyright-bar{
	display: none;
}

/* Hide hidden elements*/
.frontendform.hidden, .hidden, .stephidden{
	display:none !important;
}

/* Transform to capital letters */
.capitalize{
	text-transform: capitalize;
}

.block{
	display: block;
    margin-top: 15px;
    width: 100%;
}

div h4{
	font-weight: bold;
	color: $primary_color;
	margin: 15px 5px 5px;
	font-size: inherit;
}

div fieldset{
	border: solid;
	padding: 20px;
	margin-top: 20px;
	
	legend{
		padding-left: 10px;
		margin-bottom: 0px;
	}
}

.optionlabel{
	margin-left: 5px;
}

.edit_useraccounts .button{
	margin-bottom: 10px;
}

h3{
	width:100%;
}

.swal2-container.swal2-center.swal2-backdrop-show{
	z-index: 9999999;
}

.success{
	border: 3px solid yellowgreen;
	text-align: center;
	padding: 5px;
	color: darkgreen;
}

.warning{
	background-color: #d8a354;
    color: black;
    padding: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.error{
	border: 3px solid $secundary_color;
    color: $primary_color;
    padding: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.swal2-container .no-border {
    border: none;
}

div input[type="text"],
div input[type="email"],
div input[type="tel"],
div input[type="month"],
div input[type="password"],
div input[type="search"],
div input[type="number"],
div input[type="url"]{
	background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    font-size: 14px;
    max-height: 38px;
}

.inline{
	display: inline-block;
}

input.wide{
	width: 100%;
}

@media screen and (max-width: $mobilewidth){
	.mobile-hidden{
		display: none;
	}

	.mobile-sticky{
		z-index: 99999999;
		position: sticky;
		top: 0;
		left: 0;
		background: white;

		&.bottom{
			bottom: 0;
			top: unset;
		}
	}
}

.wide {
	width: 100%;
}