dynamic/
node_modules/
**/package-lock.json
includes/php/test.php
**/__template/*
**/banking/*
**/bookings/*
**/bulkChange/*
**/captcha/*
**/cloud/*
**/comments/*
**/contentFilter/*
**/defaultPictures/*
**/embedPage/*
**/events/*
**/fancyEmail/
**/forms/
frontendPosting/
**/heicToJpeg/
**/locations/
**/login/
**/mailchimp/
**/mailposting/
**/maintenance/
**/mandatory/
**/mediaGallery/
**/pageGallery/
**/pdf/
**/pdftoexcel/
**/prayer/
**/projects/
**/querier/
**/recipes/
**/statistics/
**/trello/
**/userManagement/
**/userPages/
**/welcomeMessage/
**/simNigeria/
**/signal/
**/vimeo/
**/simNigeria/
debug.log