@use '../../../css/scss/global' as *;
@use '../../../css/scss/nice-select2' as *;
@use '../../../css/scss/table' as *;

.success{
	border: 3px solid yellowgreen;
	text-align: center;
	padding: 5px;
	color: darkgreen;
}

.warning{
	background-color: #d8a354;
    color: black;
    padding: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.error{
	border: 3px solid $secundary_color;
    color: $primary_color;
    padding: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.module-settings{
    margin: 20px 20px 0px 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #bd2919;
}

input:focus + .slider {
    box-shadow: 0 0 1px #bd2919;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

    /* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

table{
    td{
        min-width: 80px;
    }

    .button.small{
        line-height: 1.2;
        max-height: 20px;
        min-height: 20px;
        float: right;
    }
}

.tablink.active{
    background: firebrick;
    color: white;
}