@use '../../../../css/scss/global' as *;

.page-gallery-article{
    overflow:hidden;
    width: 100%;
    text-align: center;

    article, 
    article .inside-article, 
    article .inside-article .wp-block-columns{
        margin-bottom: 0px;
    }
	

	/* the heading of the news area*/
	.page-gallery-title{
		padding-top:30px;
	}

	/* news items*/
	.row{
		padding-top:30px;
		display: -webkit-inline-box;
		scrollbar-color: $primary_color transparent;
		max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
	
		/* scrollbar height */
		&::-webkit-scrollbar {
		  height: 10px;
		}
		 
		/* scrollbar  Handle */
		&::-webkit-scrollbar-thumb {
		  background: $primary_color; 
		  border-radius: 10px;
		  border: solid 3px transparent;
		}

		/* scrollbar  Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
		  background: #b30000; 
		}
	}

	/* content text layout*/
	.content{
		padding:10px;
		color: #9A9A9A;
		font-size: 15px;
		font-weight: 300;
		line-height: 22px;
		margin: 15px 0 5px;
	}

	/* center text of news item title*/
	.card-title{
		text-align: center;
	}

	/* give the news card some margin*/
	.card-description{
		color: grey;
	}

	.page-gallery {
		white-space: normal;
		border-radius:3%;
		overflow: hidden;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
        flex: 1;
        min-width: 250px;
		
		.card-image{
			height: 100px;
			overflow: hidden;
		}
		
		.img{
			border-radius: 50%;
			width: 50%;
			height: unset;
		}

		.content a:not(.moretag){
			color: gray;
		}
	}
	
	/*Ministry gallery*/
	@media (min-width: 480px){
		.page-gallery {
			display: inline-block;
			float: none !important;
			margin-right: -4px;
			margin-left: -4px;
			vertical-align: top;
		}
	}
	
	/* show newsitems below each other on small screens */
	@media (max-width: 600px){ 		
		.row{
			display: unset;
		}

        .page-gallery {
            min-width: 100%;
        }
	}

	/*32% width*/
	@media (min-width: $fullwidth){	
		.page-gallery-article{
			white-space: nowrap;
		}
	}

	@media (min-width: 1245px){
		.row{
			max-width: 1200px;
			overflow: hidden;
		}
		
		.page-gallery-article{
			white-space: nowrap;
		}
	}
}