/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 li.current_page_item > a, li.current_page_ancestor > a{
    font-weight: bold;
}

.childpost > ul{
    padding-left: 20px;
}

.expand-children{
    margin-left: 10px;
}