@use '../../../css/scss/global' as *;

#account_statements, #account_statements th, #account_statements td{
	border: none;
}

/* Mobile settings*/
@media screen and (max-width: 800px){	
	.account_statements td::before{
		min-width: unset;
	}
}

.account_statements .statement_button{
	margin-right: 10px; 
	padding: 0px 10px;
}
