@use '../../../css/scss/global' as *;

div input[type="text"],
div input[type="tel"],
div input[type="password"]
{
    width: 100%;
}

.bad{
    background: red;
    border: none;
    color: #000;
}
.short{
    background: #f1adad;
    border: none;
    color: #707071;
}
.good{
    background: #ffe399;
    border: none;
    color: #000;
}
.strong{
    background: #c1e1b9;
    border: none;
    color: #000;
}