@use '../../../css/scss/global' as *;

.mediabuttons{
    .search{
        margin-left: -35px;
        height: 30px;
        padding-top: 15px;
    }
}

.mediagallery-wrapper{
    #category-options{
        margin-left: 10px;
    }
    
    .categories{
        display: flex;
        flex-wrap: wrap;

        div{
            width: 100%;
        }
        
        label{
            margin-right: 10px;
        }
    }
}

.mediawrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .cell {
        padding: 10px;
      
        /* Style the images inside the grid */
        img {
            opacity: 0.8;
            cursor: pointer;
    
            &:hover {
                opacity: 1;
            }
        }

        &:hover{
            background-color: lightgray;

            .media-description{
                display: block !important;
                background-color: lightgray;
            }
        }

        .image-wrapper{
            height: 100%;
        }

        .media-description{
            position: absolute;
            left: 12px;
            width: calc(100% - 20px);
            color: white;
            padding: 10px;
            z-index: 10;
            border-radius: 10px;
        }
    }    
}


#medialoaderwrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #f0f0f0ed;
    z-index: 999999;
    text-align: center;
}
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
.large-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #f0f0f0ed;
    z-index: 99999;

    .prevbtn, .nextbtn{
        position: absolute;
        z-index: 9;

        @media screen and (min-width: $mobilewidth){
            -ms-transform: translateY(50%);
            transform: translateY(50%);
            font-size: 40vh;
        }
        @media screen and (max-width: $mobilewidth){
            font-size: 100px;
            bottom: 50px;
        }
    }

    .prevbtn{
        left: 10px;
    }

    .nextbtn{
        right: 10px;
    }

    .fullscreen-media-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;

        @media screen and (min-width: $mobilewidth){
            height: calc(100% - 30px);
        }

        img{
            width: auto;
            margin: auto;
            max-height: calc(100% - 30px);
            position: relative;
        }

        iframe, #loaderwrapper{

            @media screen and (min-width: $mobilewidth){
                width: 100%;
                height: calc(100vh - 30px);
            }
        }

        #loaderwrapper{
            @media screen and (min-width: $mobilewidth){
                transform: translateY(30vh);
            }

            @media screen and (max-width: $mobilewidth){
                transform: translateY(0vh);
            }
        }
    }
    
    /* Expanding image text */
    #imgtext {
        position: absolute;
        bottom: 15px;
        width: 100%;
        @media screen and (max-width: $mobilewidth){
            bottom: 60px;
            width: 80%;
            left: 10%;
        }
        color: $secundary_color;
        font-size: 20px;
        padding: 10px;

        .wrapper{
            width: fit-content;
            background-color: white;
            margin: auto;
            padding: 10px;
            border-radius: 15px;
        }
    }

    /* Closable button inside the image */
    .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        color: $secundary_color;
        font-size: 35px;
        cursor: pointer;
        z-index: 9999;

        &:hover{
            color: $primary_color;
        }
    }

    .buttonwrapper{
        position: absolute;
        bottom: 15px;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        height: 30px;
    
        .editmedia{
            margin-left: 20px;
        }

        .description{
            margin-right: 20px;
        }
    }
}

.media-gallery-article{
    overflow:hidden;
    width: 100%;
    text-align: center;

    article, 
    article .inside-article, 
    article .inside-article .wp-block-columns{
        margin-bottom: 0px;
    }
	

	/* the heading of the news area*/
	.media-gallery-title{
		padding-top:30px;
	}

	/* news items*/
	.row{
		padding-top:30px;
		display: -webkit-inline-box;
		scrollbar-color: $primary_color transparent;
		max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
	
		/* scrollbar height */
		&::-webkit-scrollbar {
		  height: 10px;
		}
		 
		/* scrollbar  Handle */
		&::-webkit-scrollbar-thumb {
		  background: $primary_color; 
		  border-radius: 10px;
		  border: solid 3px transparent;
		}

		/* scrollbar  Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
		  background: #b30000; 
		}
	}

	/* content text layout*/
	.content{
		padding:10px;
		color: #9A9A9A;
		font-size: 15px;
		font-weight: 300;
		line-height: 22px;
		margin: 15px 0 5px;
	}

	/* center text of news item title*/
	.card-title{
		text-align: center;
	}

	/* give the news card some margin*/
	.card-description{
		color: grey;
	}

	.media-gallery {
		white-space: normal;
		border-radius:3%;
		overflow: hidden;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
        flex: 1;
        min-width: 250px;
		
		.card-image{
			height: 100px;
			overflow: hidden;
		}
		
		.img{
			border-radius: 50%;
			width: 50%;
			max-width: 250px;
			height: unset;
		}

		.content a:not(.moretag){
			color: gray;
		}
	}
	
	/*Ministry gallery*/
	@media (min-width: 480px){
		.media-gallery {
			display: inline-block;
			float: none !important;
			margin-right: -4px;
			margin-left: -4px;
			vertical-align: top;
		}
	}
	
	/* show newsitems below each other on small screens */
	@media (max-width: 600px){ 		
		.row{
			display: unset;
		}

        .media-gallery {
            min-width: 100%;
        }
	}

	/*32% width*/
	@media (min-width: $fullwidth){	
		.media-gallery-article{
			white-space: nowrap;
		}
	}

	@media (min-width: 1245px){
		.row{
			/*max-width: 1200px;*/
			overflow: hidden;
		}
		
		.media-gallery-article{
			white-space: nowrap;
		}
	}
}