@use '../../../css/scss/global' as *;

/* make whole frontpage white*/
.home{
	&:not(.sticky){
		#site-navigation .icon-search svg{
			color: white;
		}

		background-color: white;

		/* set the header image*/
		#masthead{
			background-position: center center;
			background-size: cover;
			min-height: 200px;
			
			.inside-header{
				z-index: 103;
				position: inherit;
			}
		}

		/* make the navigation menu visible on top of the image*/
		#site-navigation:not(.toggled) {
			background-color: transparent;
			z-index:102;
		}

		/* make the home button*/
		.main-navigation .main-nav ul{
			li[class*="current-menu-"] > a {
				background-color: transparent;
				color:white;
			}

			/* home button*/
			li a{
				color:white;
			}
		}
		
		/* position the buttons*/
		#header_buttons{
			position: absolute;
			z-index: 102;
			width: 100%;
			height: 200px;
			text-align: center;
			background-color: rgba(0,0,0,0.2);
		}

		#first_button{
			background-color:$primary_color;
		}

		#second_button{
			background-color: transparent;
			border-color: white;
			border: white 2px solid;
		}
		
		/**/
		.header_button{
			display: inline-block;
			border-radius: 30px;
			padding: 10px 30px;
			border:none;
			margin-top: 140px;
			margin-right: 20px;
			text-transform: uppercase;
			color:white;
		
			/**/
			&:hover,
			&:active{
				color: white;
				text-decoration: underline;
			}
		}
		

		/*Link coloring*/
		li{
			> a.menu-link{
				background-color: $primary_color;
			}

			/* fontsize*/
			a{
				font-size: 20;
			}
		}

		/* remove white menu background*/
		#menu-primary-menu{
			li:hover  a{
				background-color: transparent;
				color: whitesmoke;
			}

			/* text color of submenu*/
			.menu-item-has-children ul.sub-menu .menu-item a{
				color: black;
			}
		}
		
		@media (max-width: $mobilewidth){
			.btn-right{
				margin-top: 30px;
			}
		}
		
		/*Mobile menu settings */
		@media (max-width: $tabletwidth){
			/*Heigher header picture */
			#masthead{
				min-height: 300px;
				
				&.has-inline-mobile-toggle .inside-header.grid-container{
					background-color: transparent;
				}
				
				#site-navigation.toggled{
					background-color: white;
				}
			}
			
			#header_buttons{
				height: 300px;
			}
			
			/* White background for menu, White background for menu  icon */
			#mobile-menu-control-wrapper .menu-toggle, 
			#primary-menu, #mobile-menu-control-wrapper{
				background-color: transparent;
			}
		}
	}
	

	/**/
	article, 
	article .inside-article, 
	article .inside-article .wp-block-columns{
		margin-bottom: 0px;
	}

	/* the news area*/
	#news{
		overflow:hidden;
		width: 100%;
		text-align: center;
		
		background-color: lightgray;
		
		.card-image a{
			display: block;
			min-height: 150px;
			background-position: center center;
			background-size: cover;
		}
		
		.row:hover{
			overflow: auto;
		}
	}

	/* the heading of the news area*/
	#news-title{
		padding-top:30px;
	}

	/* news items*/
	#news .row{
		padding-top:30px;
		display: -webkit-inline-box;
		scrollbar-color: $primary_color transparent;
		max-width: 100vw;
	
		/* scrollbar height */
		&::-webkit-scrollbar {
		  height: 10px;
		}
		 
		/* scrollbar  Handle */
		&::-webkit-scrollbar-thumb {
		  background: $primary_color; 
		  border-radius: 10px;
		  border: solid 3px transparent;
		}

		/* scrollbar  Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
		  background: #b30000; 
		}
	}

	/* layout of the news cards */
	.news-article{
		white-space: normal;
		border-radius:3%;
		overflow: hidden;
		background-color: whitesmoke;
		max-height: 500px;
		
		/* Always use the full width for the news image*/
		.card-image a img{
			min-width: 100%;
		}
	}

	/* content text layout*/
	.content{
		padding:10px;
		color: #9A9A9A;
		font-size: 15px;
		font-weight: 300;
		line-height: 22px;
		margin: 15px 0 5px;
	}

	/* the link below the news items*/
	#newslink{
		text-align: center; 
		font-size: 18px;
		color:$primary_color;
	}

	#newslinkdiv{
		margin: 20px;
	}

	/* center text of news item title*/
	.card-title{
		text-align: center;
	}

	article.news-article .card-title a{
		font-size: 19px;
		font-weight: 600;
	}

	/* give the news card some margin*/
	.card-description{
		color: grey;
	}

	/*prayerlooks*/
	#prayertitle {
		color: #444444;
		font-weight: 500;
	}
	
	.logged-in{
		/*Hide the login button, team section and ribbon section */
		.big-title-slider-content .buttons a.btn:nth-child(1), 
		#team, 
		#ribbon, 
		.big-title-slider-content .buttons a:nth-child(1){
			display: none;
		}

		/*Center the content of the event list on the homepage*/
		div.wp-block-column:nth-child(2){
			text-align: center;
		}
		
		#agendabutton{
			margin: auto;
			margin-top: auto;
			display: table;
			margin-top: 5px;
			padding: 5px 30px;
		}
	}
	
	/* show newsitems below each other on small screens */
	@media (max-width: 600px){ 
		#news .row{
			display: inline-block;
			display: unset;

			.news-article{
				margin-bottom: 30px;
				width: 90%;
				margin-left: 5%;
			}
		}
	}

	/*50% width if only two item*/
	@media (min-width: 601px){
		.news-article{
			width: 45.5vw;
			margin-left:3vw;
		}
	}

	/*32% width*/
	@media (min-width: $fullwidth){
		.news-article {
			width: 30.7vw;
			margin-left:2vw;
		}
		
		#new{
			white-space: nowrap;
		}
	}

	@media (min-width: 1245px){
		#news .row{
			max-width: 1200px;
			overflow: hidden;
		}
		.news-article {
			width: 370px;
			margin-left:45px;
		}
			
		.news-article:first-child{
			margin-left:0px;
		}
		
		#news{
			white-space: nowrap;
		}
	}
}